[submodule "java"]
	path = java
	url = https://github.com/efwoods/java.git
[submodule "docker"]
	path = docker
	url = https://github.com/efwoods/docker.git
[submodule "soft-skills"]
	path = soft-skills
	url = https://github.com/efwoods/soft-skills.git
[submodule "tensorflow"]
	path = tensorflow
	url = https://github.com/efwoods/tensorflow.git
[submodule "goals"]
	path = goals
	url = https://github.com/efwoods/goals.git
[submodule "aws"]
	path = aws
	url = https://github.com/efwoods/aws.git
[submodule "react"]
	path = react
	url = https://github.com/efwoods/react.git
[submodule "html"]
	path = html
	url = https://github.com/efwoods/html.git
[submodule "json-server"]
	path = json-server
	url = https://github.com/efwoods/json-server.git
[submodule "vue"]
	path = vue
	url = https://github.com/efwoods/vue.git
