[submodule "java"]
	path = java
	url = https://github.com/efwoods/java.git
[submodule "docker"]
	path = docker
	url = https://github.com/efwoods/docker.git
[submodule "soft-skills"]
	path = soft-skills
	url = https://github.com/efwoods/soft-skills.git
[submodule "tensorflow"]
	path = tensorflow
	url = https://github.com/efwoods/tensorflow.git
[submodule "goals"]
	path = goals
	url = https://github.com/efwoods/goals.git
